.animate-slide {
    animation: slide 25s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.testimonial_swiper {
    padding: 20px 0;
}

.testimonial_swiper.swiper-slide {
    height: auto;
}

.testimonial_swiper .swiper-slide-next::after,
.testimonial_swiper .swiper-slide-prev::after {
    display: none;
}

.swiper-slide-next,
.swiper-slide-prev {
    display: none;
}

.swiper-btn-next-custom.swiper-button-disabled,
.swiper-btn-prev-custom.swiper-button-disabled {
    cursor: not-allowed;
    opacity: 0.2;
}